/*BACKGROUND IMAGE FOR LOGIN SCREEN*/
.background-image::before {
    background-image: url("../images/study.jpg");
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-size: cover;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}
.background-image.main::before{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e9296+1,50cc80+100 */
background: rgb(30,146,150); /* Old browsers */*/
background: -moz-radial-gradient(center, ellipse cover,  rgba(30,146,150,1) 1%, rgba(80,204,128,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(30,146,150,1) 1%,rgba(80,204,128,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(30,146,150,1) 1%,rgba(80,204,128,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e9296', endColorstr='#50cc80',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.rounded{
  background-color:rgba(235, 232, 228,0.8);
  border-radius:15px;
  padding:15px;
}


/*START OF LOGIN PROPERTIES*/
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

/*END OF LOGIN PROPERTIES*/

/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

body {
  background: #F1F3FA;

}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

/*.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
} */

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.tags label.info{
  color:#FFF;
  background-color:#5BC0DE;
  border-color:#46B8DA
  font-size: 20px;
  font-weight: 600;
  padding: 15px 15px;
  width: 40%;
  text-align: center;
}



/*upload task */

/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

@media (max-width:362px){
  .container-fluid{
    /*padding:0;*/
    /*margin:0;*/
    width:330px;
  }
  html body .col-xs-12.well{
    width: 362px;
  }
  div.navbar-header{
    margin-right:0px;
  }

}


 /* @media only screen and (max-width: 480px) {
  @media only screen and (max-width: 480px) {
 .controls{
   	width:100px;
	}
}
/*        TASKS PANEL CLASSES        */
@media(min-width:768px){
  .fixed{
    height:300px;
  }
  .fixedHead{
    height:40%;
  }
}
@media(max-width:991px){
  .col-md-3.adapt{
    padding:0;
  }
}

.fixedBody{
  height:30%;
  overflow-y: auto;
}

/*A smaller fixed area than stardard fixed which is 300px*/
.smallfixed{
  height:100px;
}
/*larger area for text*/
.fixedBodyLarge{
  height:80%;

}


/*     END OF TASK PANEL CLASSES    */



/*SCROLLBAR CLASS*/
.scroll{
  overflow-y: auto;
}
/*LEFT HORIZONTAL BAR DIVIDER*/
.divider{
  border-left: 1px solid #ccc;
}

/*SPACE AFTER ICON */
.glyphicon:before { margin-right: 5px; }


/*overlapping container*/
.container{
	width: auto;
}


/*textarea*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /*margin-top: 6px; */
    margin-bottom: 16px;
    resize: vertical;
}


/*TOOLTIP CLASSES*/
/*Circular button*/
.btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 2px 0;
  font-size: 12px;
  border-radius: 10px;
}

#bootstrapSelectForm .selectContainer .form-control-feedback {
    /* Adjust feedback icon position */
    right: -15px;
}


/*FOOTER CSS FOR ALL PAGES */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}



/*validation error mess*/

.val_error{
	color:#FF1F1F;
}


#Success {
  display: none;
  visibility: hidden;
}

#discipline{display:none;}
#tags{display:none;}

/*Footer */

.footer{

    line-height: 60px;
    position: fixed;
    background: rgb(16,16,16);
    color:rgb(230,230,230);
    bottom:0px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 60px;
    text-align: center;
    z-index: 3;
}
